---
import Base from "../layouts/Base.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import Plans from "../components/Plans.astro";
import HowItWorks from "../components/HowItWorks.astro";
import RecentWork from "../components/RecentWork.astro";
import Faq from "../components/Faq.astro";
import CtaFinal from "../components/CtaFinal.astro";
import Footer from "../components/Footer.astro";
---

<Base>
  <Nav />
  <main>
    <Hero />
    <Plans />
    <HowItWorks />
    <RecentWork />
    <Faq />
    <CtaFinal />
  </main>
  <Footer />
</Base>
