/**

Mini Profile Template

https://templatemo.com/tm-530-mini-profile


Color Codes
------------
brown: #986665;
green: #98cb00;
orange: #cc6733;
blue: #3398cc;
dark-gray: #676767;
light-gray: #999999;
text-gray: #6b6b6b;

*/

html {
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #6b6b6b;
  overflow-x: hidden;
}

a,
button {
  transition: all 0.3s ease;
}

a:hover {
  text-decoration: none;
}

.container-fluid {
  max-width: 1200px;
}

.tm-bg-black-transparent {
  background-color: rgba(0, 0, 0, 0.5);
}

.tm-bg-white-transparent {
  background-color: rgba(255, 255, 255, 0.93);
}

.tm-bg-green {
  background-color: #98cb00;
}

.tm-bg-orange {
  background-color: #fd865be0;
}

.tm-bg-blue {
  background-color: #5bbeffe6;
}

.tm-bg-dark-gray {
  background-color: #676767;
}

/*
  Welcome section
*/
#tmWelcome {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.tm-brand-container-outer {
  margin-top: -400px;
}

.tm-brand-container-inner {
  max-width: 580px;
  width: 100%;
}

.tm-brand-container {
  padding: 75px 110px;
}

.tm-brand-name {
  font-size: 3.8rem;
}

.tm-brand-description {
  font-size: 1.4rem;
}

.parallax-window {
  min-height: 800px;
  background: transparent;
}

#tmContact {
  min-height: 1197px;
}

.tm-welcome-container {
  min-height: 380px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: stretch;
}

.tm-welcome-container-tiny {
  min-height: 150px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: stretch;
}

.tm-welcome-title {
  margin-bottom: 40px;
  font-size: 3rem;
}

.tm-welcome-title-tiny {
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.tm-welcome-left {
  padding-right: 30px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.tm-welcome-left-tiny {
  padding: 10px 0 10px 30px;
}

.tm-welcome-left-col {
  display: flex;
  align-items: center;
}

.tm-welcome-right {
  color: white;
  background-color: #7ab5ffFF;
  padding: 80px 43px 70px;
  height: 100%;
  text-align: center;
}

.tm-welcome-right-tiny {
  color: white;
  background-color: #7ab5ffCC;
  padding: 10px auto;
  height: 100%;
  text-align: center;
}


.tm-welcome-icon {
  margin-bottom: 50px;
  display: block;
  text-align: center;
}

/*
  Portfolio section
*/

#tmPortfolio {
  padding-top: 80px;
}

.tm-portfolio-item {
  display: flex;
  align-items: normal;
  margin-bottom: 80px;
}

.tm-portfolio-name {
  width: 330px;
  height: 220px;
  font-size: 2rem;
  padding: 30px 30px;
  display: flex;
  align-items: left;
  text-align: left;
}

.tm-portfolio-description {
  width: calc(100% - 330px);
  padding: 20px 45px;
}

.tm-portfolio-description h3 {
  margin-bottom: 20px;
}

.tm-text-green {
  color: #98cb00;
}

.tm-text-orange {
  color: #fd865bFF;
}

.tm-text-blue {
  color: #3398cc;
}

.tm-text-dark-gray {
  color: #676767;
}

.tm-title-small {
  font-size: 1.3rem;
}

p {
  line-height: 1.8;
}

/*
  Contact section
*/

#tmContact {
  padding-top: 95px;
}

.tm-contact-item {
  width: 33.3334%;
  max-width: 345px;
  height: auto;
  min-height: 420px;
  margin-right: 35px;
  background-color: white;
  padding: 54px 34px 44px;
}

.tm-contact-item:last-child {
  margin-right: 0;
}

.tm-contact-items-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 130px;
}

.tm-contact-item-icon {
  margin-bottom: 45px;
  width: 100%;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#tmContactForm {
  width: 100%;
  max-width: 680px;
  padding: 45px 45px 30px;
  margin-bottom: 95px;
}

.form-group {
  max-width: 355px;
}

.form-control {
  background: transparent;
  border-color: #999999;
  padding: 15px 10px;
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.tm-btn-submit {
  background-color: #999999;
  padding: 12px 30px;
  font-size: 1.2rem;
}

.tm-btn-submit:focus,
.tm-btn-submit:hover {
  background-color: #676767;
}

.tm-copyright-text {
  margin: 30px 0;
}

.tm-link {
  color: #676767;
}

@media (max-width: 1054px) {
  .tm-contact-item-icon {
    margin-bottom: 15px;
  }
}

@media (max-width: 991px) {
  .tm-contact-items-container {
    flex-direction: column;
  }

  .tm-contact-item {
    width: auto;
    max-width: 680px;
    min-height: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }

  .tm-contact-item:last-child {
    margin-right: auto;
    margin-bottom: 0;
  }

  #tmContactForm {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 730px) {
  .tm-portfolio-item {
    flex-direction: column;
  }

  .tm-portfolio-name {
    justify-content: center;
  }

  .tm-portfolio-name,
  .tm-portfolio-description {
    width: 100%;
  }

  .tm-portfolio-description {
    padding: 20px 30px;
  }
}

@media (max-width: 572px) {
  .tm-brand-container {
    padding: 45px;
  }
}

@media (max-width: 443px) {
  .tm-brand-name {
    font-size: 3rem;
  }

  .tm-brand-container {
    padding: 25px;
  }
}

.imagenDePerfil {
  border-radius: 50%;
  width: 150px;
  margin-bottom: 10px;
}

.redes {
  list-style-type: none;
  padding: 0;
}

.redes a {
  color: #FFF;
  text-decoration: underline;
  font-size: 0.8rem;
}

.gallery-title
{
    font-size: 36px;
    color: #42B32F;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}
.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #333;
}
.filter-button {
    font-size: 18px;
    border: 1px solid #7ab5ff;
    border-radius: 5px;
    text-align: center;
    color: #333;
}
.filter-button:hover
{
    font-size: 18px;
    border: 1px solid #7ab5ff;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #7ab5ff;

}
.btn-default:active .filter-button:active
{
    background-color: #7ab5ff;
    color: white;
}

.port-image
{
    width: 100%;
}

.gallery_product {
    margin-bottom: 30px;
    display: inline-block;
}

.gallery_product img {
  transition: transform 0.5s, filter 0.2s ease-in-out;
  transform-origin: center center;
  filter: grayscale(90%);
}

/* The Transformation */
.gallery_product:hover img {
  filter: grayscale(0);
  transform: scale(1.1);
}

.categorias {
  background-color: #FFF;
  padding: 10px 0;
  margin-bottom: 30px;
  width: 100%;
}

.tiny-bar {
  background-color: #FFFFFFCC;
}

.credits {
  font-size: 8pt;
  color: #CCC;
}